
<html>
<head>
    {% if title %}
    <title>{{ title }} - Exercises of North Uist</title>
    {% else %}
    <title>Welcome to Exercises of North Uist!</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
    <body>

        <div class="header">
          <h1>Exercises of North Uist</h1>
        </div>
        <nav class="main-nav">
          <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% else %}
          <li><a href="{{ url_for('user', username=current_user.username) }}">Your Exercises</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
          {% endif %}
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
          {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}


    </body>
</html>
